{% extends '::base.html.twig' %}

{% block body -%}
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Patient creation</h1>
      {{ form(form) }}
      <br />
      <a href="{{ path('patient') }}">Back to the list</a>
    </div>
  </div>
</div>
{% endblock %}
