{% extends '::base.html.twig' %}

{% block body %}
<form class="form">
<div class="wrapper-select">
	<select name="combo[]" class="combobox">
	  
	  <option value="PA">Pennsylvania</option>
	  <option value="CT">Connecticut</option>
	  <option value="NY">New York</option>
	  <option value="MD">Maryland</option>
	  <option value="VA">Virginia</option>
	</select>
</div>
<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>

</form>
{% endblock %}