{% extends '::base.html.twig' %}

{% block body %}

<h1>Results:</h1>
{% for disease in diseases %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ disease.name }}</h3>
    </div>
    <div class="panel-body">
        Description: {{ disease.description }}
        <br />
        Tags: {{ disease.tags }}
    </div>
</div>
{% else %}
No disease have been found.
{% endfor %}

{% endblock body %}
