{% extends '::base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}
{% block body %}
<div class="container">
    <form class="form-signin" action="result" method="GET">
        <input id="search" class="form-control" type="text" name="symptoms" placeholder="Enter patients symptoms">
        <br />
        <input class="btn btn-info btn-block" type="submit" value="Diagnose">
    </form>
	<br />
	<div class="text-center">
	<span class="text-info">Known symptoms: </span>
	<span class="text-muted">
	{% for symptom in symptoms %}
		<a href="#" onclick="addSymptom('{{ symptom.name }}')">{{ symptom.name }}</a>,
	{% else %}
		No symptom have been found.
	{% endfor %}
	</span>

	<script type="text/javascript">
		var addSymptom = function(symptom) {
			document.getElementById('search').value += symptom +';';
		}
	</script>

	</div>
</div>
{% endblock body %}
