{% extends '::base.html.twig' %}

{% block body %}
<form action="result" method="GET">
    <input class="form-control" type="text" name="symptoms">
    <input class="btn btn-default" type="submit" value="Diagnose">
</form>
{% endblock body %}
